In [1]:
import sys
import os
import pandas as pd
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), 'src')))


from utils import process_articles_directory
from sentence_transformers import SentenceTransformer, util

/Users/alexislimozin/.pyenv/versions/3.11.9/envs/ada/lib/python3.11/site-packages/sentence_transformers/cross_encoder/CrossEncoder.py:13: TqdmExperimentalWarning: Using `tqdm.autonotebook.tqdm` in notebook mode. Use `tqdm.tqdm` instead to force console mode (e.g. in jupyter console)
  from tqdm.autonotebook import tqdm, trange

In [2]:
result = process_articles_directory("data/plaintext_articles")
df = pd.DataFrame(result, columns=['Article_Title', 'Related_Subjects', 'Description'])
print(f"There are : {len(df)} articles")
df.head()

Article Phonograph_cylinder.txt could not be parsed
Article Periodic_table_%28large_version%29.txt could not be parsed
There are : 4596 articles

,Article_Title,Related_Subjects,Description
0,Second Crusade,"[Military History and War, Religious disputes]",The Second Crusade was the second major crusad...
1,Navassa Island,[North American Geography],"Navassa Island (French: La Navase, Haitian Kre..."
2,Evan Rachel Wood,"[Actors, models and celebrities]","Evan Rachel Wood (born September 7, 1987) is a..."
3,Tropical Storm Henri (2003),[Storms],Tropical Storm Henri was a weak tropical storm...
4,Final Fantasy Adventure,[Computer & Video games],Final Fantasy Adventure (originally released i...

In [4]:
model = SentenceTransformer("all-MiniLM-L6-v2")

In [5]:
for row in df.itertuples():
    score = util.dot_score(model.encode(row.Article_Title),model.encode(row.Description))
    if score < 0.1:
        print(f"{row.Article_Title} score: {score}")

Carrot score: tensor([[0.0882]])
Waheguru score: tensor([[0.0618]])
Driving on the left or right score: tensor([[-0.0454]])
Sand shark score: tensor([[0.0606]])
Bird score: tensor([[0.0777]])
Trafalgar Square score: tensor([[0.0311]])
Triggerplant score: tensor([[0.0756]])
Denis Law score: tensor([[0.0654]])
Ceratopsidae score: tensor([[0.0344]])
Crow score: tensor([[0.0942]])
Anaconda score: tensor([[0.0615]])
National parks of England and Wales score: tensor([[0.0809]])
Marc Pugh score: tensor([[0.0814]])
Turtle score: tensor([[0.0442]])
Nutmeg score: tensor([[0.0296]])
Shining Path score: tensor([[0.0853]])
Ramayana score: tensor([[0.0658]])
Puffin score: tensor([[0.0266]])
Dolphin score: tensor([[0.0814]])
Kestrel score: tensor([[0.0939]])
Sumac score: tensor([[0.0704]])
Swallow score: tensor([[0.0905]])
Tea score: tensor([[0.0861]])
Falcon score: tensor([[0.0464]])
Saturn score: tensor([[0.0862]])
Amazon parrot score: tensor([[0.0895]])
Francis Petre score: tensor([[0.0335]])
African dwarf frog score: tensor([[0.0767]])
Raven score: tensor([[0.0868]])
Chives score: tensor([[0.0901]])
Brahman score: tensor([[0.0293]])
Nurse sharks score: tensor([[0.0951]])
Issyk Kul score: tensor([[0.0909]])